{% extends 'home.html' %}
,
{% block content %}
<br>
<h2>글을 수정하겠습니다.</h2>


<form action="{% url 'new:update' post.pk %}" method="POST">
    {% csrf_token %} 
  
    


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="게시판.css">
    <style>
    
    </style>
</head>

<body>
    <div class="formlarge">
        <form>
            <div class="form-group">
                <label style="font-weight: bold; font-style:italic" exampleInputEmail1">Title</label>
                <input type="text" name="title" value="{{  post.title  }}"class="form-control" id="exampleInputEmail1" placeholder="글 제목">

            </div>
            <div class="form-group">
                <label style="font-style: italic"exampleInputPassword1">Writer</label>
                <input type="text" name="writer" value="{{post.writer}}"class="form-control" id="exampleInputPassword1" placeholder="작성자"/>
   
            </div>
            <form class="was-validated">
                    <div class="mb-3">
                      <label style="font-style: italic"validationTextarea">Textarea</label>
                          <textarea name='content'style="height:350px;" class="form-control form-control-lg" id="validationTextarea" placeholder="게시글 내용" required>{{  post.content  }}</textarea>> 
                      
                    </div>
           
          

    <input type="submit" value="수정">
    
 </form>
    </div>
    </form>

</html>

{% endblock %}